 <!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Контакты</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,900&display=swap&subset=cyrillic" rel="stylesheet">

</head>
<body>
     <!-- Header -->
    <div class="container">
        <nav class="navbar navbar-expand-md">
            <img class="img_fluid" alt="" src="{{url_for('static', filename='img/ranepa.jpeg')}}" height="70rem">
<!--            <img class="img_fluid" alt="" src="static/img/ranepa.jpeg" height="70rem">-->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="nav">
                    <li class="nav-item active">
                        <a href = '/' class="nav-link link-color">Об Академии<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a href = '/request_sgk' class="nav-link link-color">Расчет СГК</a>
                    </li>
                   <li class="nav-item">
                       <a href='/request_api' class="nav-link link-color">Форма запроса</a>
                    </li>
                    <li class="nav-item">
                        <a href='/contacts' class="nav-link link-color">Контакты</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <!--Contacts-->
    <div class="text-center py-5">
        <h2 class="py-3">Вы нам написали:</h2>
    </div>
    <div class="container">
        <div class="alert alert-success" role="alert">{{message}}</div>
        <div class="alert alert-success alert-dismissible fade show" role="alert">
          <strong>ОТЛИЧНО!</strong> Ваше сообщение принято.
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
    </div>

    <!--Footer-->
    <div class="container">
        <footer id="assistant" class="footer">
             <div class="row mb-3">
                <div class="col-lg-8 offset-lg-2 text-center">
                     <ul class="nav justify-content-center">
                        <li class="nav-item">
                            <a class="nav-link" href='/'>Об Академии</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href='/request_sgk'>Расчет СГК</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href='/request_api'>Форма запроса</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href='/contacts'>Контакты</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="copyright text-center py-3 border-top text-muted">
                <p>Разработан УМУ Щепкина Елена &copy; 2020</p>
            </div>
        </footer>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>